:root {
    --color-canvas-default-transparent: rgba(13, 17, 23, 0);
    --color-btn-active-bg: hsla(212, 12%, 18%, 1);
    --color-btn-active-border: #6e7681;
    --color-btn-primary-selected-bg: #238636;
    --color-btn-primary-selected-shadow: 0 0 transparent;
    --color-btn-danger-selected-bg: #b62324;
    --color-btn-danger-selected-border: #ff7b72;
    --color-btn-danger-selected-shadow: 0 0 transparent;
    --color-action-list-item-default-hover-bg: rgba(177, 186, 196, 0.12);
    --color-action-list-item-default-active-bg: rgba(177, 186, 196, 0.2);
    --color-fg-default: #e6edf3;
    --color-fg-muted: #848d97;
    --color-canvas-default: #0d1117;
    --color-canvas-subtle: #161b22;
    --color-border-default: #30363d;
    --color-neutral-muted: rgba(110, 118, 129, 0.4);
    --color-neutral-subtle: rgba(110, 118, 129, 0.1);
    --color-accent-fg: #2f81f7;
    --color-accent-emphasis: #1f6feb;
    --color-success-emphasis: #238636;
    --color-attention-emphasis: #9e6a03;
    --color-attention-fg: #d29922;
    --color-danger-emphasis: #da3633;
    --color-primer-border-contrast: rgba(255, 255, 255, 0.2);
}