:root {
    --color-canvas-default-transparent: rgba(255, 255, 255, 0);
    --color-btn-active-bg: hsla(220, 14%, 93%, 1);
    --color-btn-active-border: rgba(31, 35, 40, 0.15);
    --color-btn-primary-selected-bg: hsla(137, 66%, 28%, 1);
    --color-btn-primary-selected-shadow: inset 0 1px 0 rgba(0, 45, 17, 0.2);
    --color-btn-danger-selected-bg: hsla(356, 72%, 44%, 1);
    --color-btn-danger-selected-border: rgba(31, 35, 40, 0.15);
    --color-btn-danger-selected-shadow: inset 0 1px 0 rgba(76, 0, 20, 0.2);
    --color-action-list-item-default-hover-bg: rgba(208, 215, 222, 0.32);
    --color-action-list-item-default-active-bg: rgba(208, 215, 222, 0.48);
    --color-fg-default: #1F2328;
    --color-fg-muted: #656d76;
    /* --color-canvas-default: #ffffff; */
    --color-canvas-subtle: #f6f8fa;
    --color-border-default: #d0d7de;
    --color-neutral-muted: rgba(114, 128, 143, 0.2);
    --color-neutral-subtle: rgba(234, 238, 242, 0.5);
    --color-accent-fg: #0969da;
    --color-accent-emphasis: #0969da;
    --color-success-emphasis: #1f883d;
    --color-attention-fg: #9a6700;
    --color-attention-emphasis: #9a6700;
    --color-danger-emphasis: #cf222e;
    --color-primer-border-contrast: rgba(31, 35, 40, 0.1);
}
